<!doctype html>
<html lang="en">
<head>
  <title>O3 Swap —  Buy NEO, GAS, ONT and ONG with popular currencies.</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta charset="utf-8">
  <meta property="og:title" content="O3 Swap">
  <meta property="og:type" content="website" >
  <meta property="og:url" content="https://swap.o3.app" >
  <meta property="og:image" content="https://cdn.o3.network/logo/o3swap.png" />
  <meta property="og:description" content="Buy NEO, GAS, ONT and ONG with popular cryptocurrencies.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <link rel="stylesheet" href="./theme.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/o3-dapi-core@0.3.7/lib/o3-dapi-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/o3-dapi-neo@0.6.0/lib/o3-dapi-neo.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/o3-dapi-pay@0.2.0/lib/o3-dapi-pay.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css">.


  <style type="text/css">
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [v-cloak] {
    display: none;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .fade-enter-active{
    transition: opacity .25s;
  }

  .fade-leave-active {
    transition: opacity 0s;
  }

  .fade-enter, .fade-leave-to{
    opacity: 0;
  }

  #qrForMobile img{
    margin: 0 auto;
    margin-bottom: 1em;
    padding:10px;
    border:10px solid #fff;
    background-color:#fff;
  }
</style>

</head>

<body>
  <main id="app" role="main">
    <div class="container">
      <div class="row mb-2">
        <div class="col pl-0 col-md-12 col-lg-6 mx-auto text-white">
          <div class="media">
            <nav class="navbar title">
              <a class="navbar-brand title">
                <img src="assets/logo_swap.svg" width="60" height="60" class="title" alt="">
                O<sub>3</sub> Swap<br>
                <span class="navbar-text subtitle">
                Buy NEO, GAS, ONT and ONG with popular currencies.</span>
              </a>
            </nav>
          </div>
        </div>
      </div>

      <section>
        <div class="row" v-if="done">
          <div class="col col-md-12 col-lg-6 mx-auto text-center finish">
            <p class="empty"></p>
            <div class="ic-success"></div>
            <h1 class="finish-title">All done!</h1>
            <p class="finish">The process usually takes {{rate.transactionSpeedForecast}} minutes.<br/>Once your payment arrives, we will send the asset to your wallet. You can see the status of the order in the transaction history in O3.</p>
            <p class="finish"><strong>Reference ID: {{transaction.id}}</strong></p>
            <p class="my-3"><a class="btn btn-primary btn-block email" v-bind:href="trackingLink(transaction)"><strong>Track order status</strong></a></p>
            <p><button class="btn btn-text-secondary btn-block" v-on:click="resetTransaction()">Start Over</button>  </p>
          </div>
        </div>
      </section>

      <transition name="slide-fade">
        <section v-if="transaction && done == false">
         <div class="row mb-3">
          <div class="col col-md-12 col-lg-6 mx-auto">
            <button type="button" class="btn btn-text btn-text-primary pl-0 edit-order" v-on:click="resetTransaction()"><strong>← EDIT ORDER</strong></button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col col-md-12 col-lg-6 mx-auto">
            <h6 class="text-warning time-warning">You have up to 24 hours to send the funds to the given address. An exchange will be made with the most recent rate as soon as your payment is confirmed, so the amount you will receive might be affected by the market fluctuations.</h6>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12 col-lg-6 mx-auto">
            <ul class="list-unstyled u-indicator-vertical-dashed">
              <li class="media u-indicator-vertical-dashed-item">
               <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body mt-n1">
                <label class="mb-0 small">PLEASE SEND:</label>
                <p class="h3 mb-0 amount">{{fromAmount}} {{fromAsset}}</p>
                <p class="form-text text-muted mb-3 red">Only send the exact amount stated above</p>
              </div>
            </li>

            <li class="media u-indicator-vertical-dashed-item">
             <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
              <span class="fas fa-check btn-icon__inner"></span>
            </span>
            <div class="media-body mt-n1">

              <label class="mb-0 small">TO ADDRESS:</label>

              <div class="row">
                <div class="col">

                  <div id="toAddressQR" class="qrcode" style="widows: 128px;height: 152px"></div>

                  <div class="manual-send-actions">
                    <div class="js-focus-state input-group mt-2 mb-2" v-on:click="copyAddress('payinAddress')">
                      <input type="text" id="payinAddress" class="form-control address" readonly v-model="transaction.payinAddress">
                      <div class="input-group-append" style="cursor: pointer;">
                        <span class="input-group-text">
                          <span class="fas fa-clone"></span>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </li>

          <li class="media u-indicator-vertical-dashed-item" v-if="transaction.payinExtraIdName">
           <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
            <span class="fas fa-check btn-icon__inner"></span>
          </span>
          <div class="media-body mt-n1">
           <label class="mb-0 small">{{transaction.payinExtraIdName}}:</label>
           <p class="h3 mb-0 amount">{{transaction.payinExtraId}}</p>
         </div>
       </li>


       <li class="media u-indicator-vertical-dashed-item">
         <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
          <span class="fas fa-check btn-icon__inner"></span>
        </span>
        <div class="media-body mt-n1">
         <label class="mb-0 small">YOU WILL RECEIVE:</label>
         <p class="h3 mb-0 amount">{{transaction.amount}} {{toAsset}}</p>
       </div>
     </li>

   </ul>
 </div>
</div>

<div class="row mt-3">
  <div class="col col-md-6 mx-auto pl-8 text-center">

   <div v-if="dapiProvider && o3PayAvailable && !fromNativeAsset">
    <button type="button" class="btn btn-primary btn-block mb-3" v-on:click="o3PaySend()">
      SEND FROM COINBASE VIA O3 PAY
    </button>
    <p class="small">— or —</p>
  </div>

  <button v-if="dapiProvider && fromNativeAsset" type="button" class="btn btn-success btn-block mb-3" v-on:click="send()">Send with O3</button>

  <button v-if="dapiProvider == null || fromNativeAsset == false" type="button" class="btn btn-success btn-block mb-3" v-on:click="madeTransaction()">I have made the transaction manually</button>

  <button type="button" class="btn btn-text btn-text-secondary btn-block" v-on:click="resetTransaction()">Cancel order</button>

</div>
</div>

</section> <!-- section transaction -->
</transition>

<section v-if="transaction == null">
 <div class="row mt-3" >
  <div class="col col-md-12 col-lg-6 mx-auto">
    <ul class="list-unstyled u-indicator-vertical-dashed mb-0">
      <li class="media u-indicator-vertical-dashed-item mb-0">
       <span class="btn btn-xs btn-icon rounded-circle mr-3" v-bind:class="{'btn-success': Number(fromAmount) > 0, 'btn-light': Number(fromAmount) == 0 }">
        <span class="fas fa-check btn-icon__inner"></span>
      </span>
      <div class="media-body mt-n1">

        <div class="form-group mb-3 send-form">
          <label class="small" for="send-form small">I WANT TO SEND:</label>
          <div class="input-group">
            <input type="number" v-model="fromAmount" v-bind:min="minAmount" step="1" class="form-control" placeholder="2" aria-label="Recipient's username">
            <div class="input-group-append" style="cursor: pointer;" v-on:click="selectCurrency('from')">
              <span class="input-group-text" id="basic-addon2"><img v-bind:src="logo(fromAsset)" height="20" class="mr-2" />{{fromAsset}} ▾</span>
            </div>
          </div>
          <p v-if="isLoadingRate == true" class="small text-muted">Getting {{fromAsset}}/{{toAsset}} minium amount</p>
          <p v-if="isLoadingRate == false" class="small text-muted">Minimum amount {{rate.minAmount}} {{fromAsset}}</p>
        </div>

        <transition name="slide-fade">
          <div v-show="selectFromCurrency">
            <h6 class="text-uppercase small">Select a currency</h6>
            <div class="row">
              <div class="col">
                <p class="mb-0 small">Native to O3</p>
                <div class="custom-control custom-radio custom-control-inline checkbox-outline currency-button mr-1 mb-1">
                  <input type="radio" id="from-neo" value="NEO" v-model="fromAsset" name="fromCurrency" class="custom-control-input checkbox-outline__input">
                  <label class="checkbox-outline__label rounded p-2 mb-0" for="from-neo">
                    <img src="https://cdn.o3.network/img/neo/NEO.png" height="24px" /> <span class="ml-1">NEO</span>
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline checkbox-outline currency-button mr-1 mb-1">
                  <input type="radio" id="from-gas" value="GAS" v-model="fromAsset" name="fromCurrency" class="custom-control-input checkbox-outline__input">
                  <label class="checkbox-outline__label rounded p-2 mb-0" for="from-gas">
                    <img src="https://cdn.o3.network/img/neo/GAS.png" height="24px" /> <span class="ml-1">GAS</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <p class="mb-0 small">Other currencies</p>
                <div class="custom-control custom-radio custom-control-inline checkbox-outline currency-button mr-1 mb-1" v-for="c in availableFromAssets">
                  <input type="radio" v-bind:id="c.symbol" v-bind:value="c.symbol" v-model="fromAsset" name="fromCurrency" class="custom-control-input checkbox-outline__input">
                  <label class="checkbox-outline__label rounded p-2 mb-0" v-bind:for="c.symbol">
                    <img v-bind:src="logo(c.symbol)" height="24px" /> <span class="ml-1">{{c.symbol}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div> <!-- end select from currency -->
        </transition>
      </div> <!-- /media -->
    </li>

    <li class="media u-indicator-vertical-dashed-item">
     <span class="btn btn-xs btn-icon rounded-circle mr-3" v-bind:class="{'btn-success': isLoadingRate == false, 'btn-light': isLoadingRate == true}">
      <span class="fas fa-check btn-icon__inner"></span>
    </span>
    <div class="media-body mt-n1">
     <transition name="fade">
       <div class="small" v-if="isLoadingRate == true">Getting {{fromAsset}}/{{toAsset}} rate</div>
       <div class="small" v-if="isLoadingRate == false">Rate: 1 {{fromAsset}} ≈ {{ratePerOne}} {{toAsset}}</div>
     </transition>
   </div>
 </li>

 <li class="media u-indicator-vertical-dashed-item mb-0">
   <span class="btn btn-xs btn-icon rounded-circle mr-3" v-bind:class="{'btn-success': Number(toAmount) > 0, 'btn-light': Number(toAmount) == 0}">
    <span class="fas fa-check btn-icon__inner"></span>
  </span>
  <div class="media-body mt-n1">
    <div class="form-group small">
      <label for="send-form title2">I WILL RECEIVE:</label>
      <div class="input-group mb-1">
        <input type="number" v-model="toAmount" class="form-control" readonly>
        <div class="input-group-append" style="cursor: pointer;" v-on:click="selectCurrency('to')">
          <span class="input-group-text" id="basic-addon2"><img v-bind:src="logo(toAsset)" height="20" class="mr-2" />{{toAsset}} ▾</span>
        </div>
      </div>
      <p class="text-muted smaller">Please note: NEO and Ontology are indivisible so the receiving amount will always be rounded down to a whole number.
      </p>
    </div> <!-- form-group -->

    <transition name="slide-fade">
      <div v-show="selectToCurrency">
        <h6 class="text-uppercase small">Select a currency</h6>
        <div class="row">
          <div class="col">
            <div class="custom-control custom-radio custom-control-inline checkbox-outline mr-1 mb-1 currency-button" v-for="c in availableToAssets">
              <input type="radio" v-bind:id="'to-' + c.symbol" v-bind:value="c.symbol" v-model="toAsset" name="toCurrency" class="custom-control-input checkbox-outline__input">
              <label class="checkbox-outline__label rounded p-2 mb-0"  v-bind:for="'to-' + c.symbol">
                <img v-bind:src="logo(c.symbol)" height="24px" /> <span class="ml-1">{{c.symbol}}</span>
              </label>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- end select from currency -->
    </transition>

  </div>
</li>
<li class="media u-indicator-vertical-dashed-item">
 <span class="btn btn-xs btn-icon rounded-circle mr-3" v-bind:class="{'btn-success': connectedAddress.length > 0, 'btn-light': connectedAddress.length == 0 }">
  <span class="fas fa-check btn-icon__inner"></span>
</span>
<div class="media-body mt-n1">

  <div class="form-group">
    <label class="small" for="send-form title2">AT THIS ADDRESS:</label>
    <div class="input-group">
      <input type="text" v-model="connectedAddress" class="form-control address">
      <div v-if="toNativeAsset || (!toNativeAsset && o3PayReceiveAvailable)" class="input-group-append ht" style="cursor: pointer;" v-on:click="connectWithO3()" >
        <span class="input-group-text"><img src="assets/connect.png" srcset="assets/connect@2x.png 2x" / ></span>
      </div>
    </div>
    <p class="form-text text-danger">{{errorMessage}}&nbsp;</p>
  </div> <!-- form-group -->

</div>
</li>
</ul>
</div> <!-- col -->
</div> <!-- row -->

<div class="row"  v-show="showQRForMobileSection == true" v-cloak>
  <div class="col col-md-12 pl-8 col-lg-6 mx-auto text-right">
    <button class="btn btn-light btn-xs" v-on:click="closeQRSection()">✖</button>
  </div>
</div>

<div class="row mb-4" v-show="showQRForMobileSection == true" v-cloak>

  <div class="col col-md-12 pl-8 col-lg-6 mx-auto text-center">
    <div id="qrForMobile"></div>
    <span class="text-white">Scan this QR code with your O3 mobile app</span>
    <div class="text-white mb-2"><small>or</small></div>
    <button class="btn btn-primary" v-on:click="openO3Desktop()">Open O3 Desktop</button>
  </div>
</div>

<div class="row">
  <div class="col col-md-12 pl-8 col-lg-6 mx-auto">
    <button type="button" class="btn btn-success btn-block" v-on:click="toCreateTX()" v-bind:disabled="isLoadingRate == true || isCreatingTransaction == true || fromAsset == toAsset || connectedAddress.length == 0">Continue</button>
  </div>
</div>

</section>

</div> <!-- container -->
</main>

<footer class="container mt-5">

 <div class="row">
  <div class="col text-center">
    <h6 class="text-muted">Brought to you by the team at <a href="https://o3.network"><img src="https://cdn.o3.network/logo/logo-dark.png" height="30px" class="ml-1" /></a></h6>

    <!-- Social Networks -->
    <ul class="list-inline mb-0">
      <li class="list-inline-item mb-3">
        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="mailto:support@o3.network">
          <span class="fas fa-envelope btn-icon__inner"></span>
        </a>
      </li>
      <li class="list-inline-item mb-3">
        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://twitter.com/O3_Labs">
          <span class="fab fa-twitter btn-icon__inner"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
</footer>


<script type="text/javascript" src="qrcode.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128562956-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128562956-2');
</script>

</body>
</html>
