html {
  background-color: #343469;
  background-image: -webkit-linear-gradient(bottom, #343469 0%, #14143A 100%);
  background-repeat: repeat-x;
}

body {
  background-color: transparent;
  font-family: avenir;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 540px;
}

.logo-swap {
  background: url('assets/logo_swap.svg');
  min-height: 100%;
  min-width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header-title {
  padding-left: 1.5rem !important;
  padding-top: 0.75rem;
}

.title {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5rem;
  padding-bottom: 0.25rem;
}

.subtitle {
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
}

.small {
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  padding-top: 0.3rem;
}

.smaller {
  font-size: 0.75rem;
}

.btn-success {
  background-color: #91CF48 !important;
  border-color: #91CF48 !important;
}

.btn-success:disabled {
  color: #fff;
  background-color: #676794 !important;
  border-color: #676794 !important;
}

.send-form {
  color: white;
}

.form-control {
  background-color: #0A0A3A;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
}

.address {
  font-size: 0.75rem;
}

.form-control[readonly] {
  background-color: #0A0A3A;
  opacity: 1;
  color:rgba(255,255,255,0.6);
}

.input-group-text {
  background-color: #0A0A3A;
  color: white;
  border: none;
  border-radius: 8px;
}

.currency-button {
  background-color: #0A0A3A;
  color: white;
  border: none;
  border-radius: 8px;
}

.checkbox-outline__label {
  border: none;
  cursor: pointer;
}

.form-background {
  background-color: #0A0A3A;
}

.amount {
  color: white;
  font-weight: 700;
}

.qrcode {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.red {
  color: red !important;
  font-size: 0.75rem;
  font-weight: 700;
}

.edit-order {
  padding: 0;
  color: #218FFF !important;
}

.time-warning {
  font-size: 0.875rem;
}

.ic-success{
  background: url('assets/ic_success.svg');
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  padding-bottom: 6rem;
}

.finish-title {
  color: white !important;
  font-weight: 900;
}

.finish {
  color: white !important;
  line-height: 1.25rem;
}

.empty {
  padding-bottom: 2rem;
}

.u-indicator-vertical-dashed-item:not(:last-child)::after {
  position: absolute;
  top: 1.625rem;
  bottom: -.8125rem;
  left: .625rem;
  border-left: 2px dashed #676794;
  content: "";
}

.btn-light {
  color: white;
  background-color: #676794;
  border-color: #676794;
}